%html  
	%head
		%link{:rel => "StyleSheet", :href => "css/blueprint/screen.css", :type => "text/css", :media => "screen"}
		%link{:rel => "StyleSheet", :href => "css/ui-lightness/jquery-ui-1.10.2.custom.min.css", :type => "text/css", :media => "screen"}
		%script{:src =>"javascript/jquery-1.9.1.min.js"}
		%script{:src =>"javascript/jquery-ui-1.10.2.custom.min.js"}
		%title ERI: #{@page}
	%body
		%div.container
			Electronic Records Index
			%br
			%a{:href => "/"} home 
			%a{:href => "/about"} about
			%br
			%br
			%div{:style => "background-color:#eee"}
				%h1 #{@page}
			%div{:style => "background-color:#ddd"}
				search:
				%form{:action => "/results", :method => "post"}
					%input{:type => "text",  :name => "query", :size => 50, :style => "font-size: 18px;"}
					%select{:name => "qType"}
						%option{:value => "full text"} full text
						%option{:value => "names"} names
						%option{:value => "orgs"} organizations
						%option{:value => "locs"} locations
					%input{:type => "submit"}
			%br
			%br
			%p
				%i
					Electronic Records Index 
				is a full-text index of text-based digital documents from collections held in #{settings.department} of #{settings.organization} 
				These text-based documents have been indexed by means of migration to Microsoft's .docx format and file parsing with 
				%a{:href => "http://apache.org/"}
					the Apache Software Foundation's 
				%a{:href => "http://tika.apache.org/"}
					Tika Library
				\. Named Entity Extraction was accomplished with 
				%a{:href => "http://apache.org/"} 
					the Apache Software Foundation's 
				%a{:href => "http://opennlp.apache.org"}
					Open NLP Library
				%br
				%br
				All record's in the index can be consulted in #{settings.department}'s reading room with advanced notification. For more information, 
				%a{:href => "#{settings.homepage}"}contact #{settings.department} 
				
					