!!!
%html{:lang => "en"}
	%head
		%meta{:charset => "utf-8"}/
		%title MSS ERI
		%meta{:content => "", :name => "description"}/
		%meta{:content => "", :name => "author"}/
		/ Le HTML5 shim, for IE6-8 support of HTML elements
		/[if lt IE 9]
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		/ Le styles
		%link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
		:css
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
			.sidebar-nav {
				padding: 9px 0;
			}
				%link{:href => "/css/bootstrap-responsive.css", :rel => "stylesheet"}/
		/ Le fav and touch icons
		%link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
		%link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
		%link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
		%link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
	%body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container-fluid
					%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					%a.brand{:href => "#"} Electronic Records Index
					.nav-collapse
						%ul.nav
							%li.active
								%a{:href => "/"}Home
							%li
								%a{:href => "/about"}About
							%li
								%a{:href => "#{settings.contact_form}", :target => "_blank"} Contact
						%p.navbar-text.pull-right
							Logged in as
							%a{:href => "#"}#{session['user']}
							|
							%a{:href => "/logout"} logout
		.container-fluid
			.row-fluid
				.span1
				.span10
					.hero-unit
						%h3
							new search:
							%form{:action => "/results", :method => "post"}
								%input{:type => "text",  :name => "query", :size => 50, :style => "font-size: 18px;"}
								%select{:name => "qType"}
									%option{:value => "full text"} full text
									%option{:value => "names"} names
									%option{:value => "orgs"} organizations
									%option{:value => "locs"} locations
								%input{:type => "hidden", :name => "start", :value => 0}
								%input{:type => "submit"}
						%h1
							#{@page}
						
					%h2
						#{@colId}: #{@colName}
					%h3 Abstract
					%p 
						=@abstract
					%table{:width => "100%"}
						%thead
							%tr
								%th{:style => "width:33%"} archival files
								%th media items
						%tbody
							%tr
								%td{:style => "vertical-align:top"}
									- @components.each do |ser|
										%a{:href => "/component?compId=#{ser.split('|')[0]}"}
											=ser.split('|')[1]
										%br
								%td
									- @media.each do |disk|
										%a{:href => "/disk?did=#{disk}"}
											#{disk}
										%br
					
	%script{:src => "/javascript/jquery.js"}
	%script{:src => "/javascript/bootstrap-transition.js"}
	%script{:src => "/javascript/bootstrap-alert.js"}
	%script{:src => "/javascript/bootstrap-modal.js"}
	%script{:src => "/javascript/bootstrap-dropdown.js"}
	%script{:src => "/javascript/bootstrap-scrollspy.js"}
	%script{:src => "/javascript/bootstrap-tab.js"}
	%script{:src => "/javascript/bootstrap-tooltip.js"}
	%script{:src => "/javascript/bootstrap-popover.js"}
	%script{:src => "/javascript/bootstrap-button.js"}
	%script{:src => "/javascript/bootstrap-collapse.js"}
	%script{:src => "/javascript/bootstrap-carousel.js"}
	%script{:src => "/javascript/bootstrap-typeahead.js"}
	%script{:src =>"javascript/jquery-ui-1.10.2.custom.min.js"}