%html  
	%head
		%link{:rel => "StyleSheet", :href => "css/blueprint/screen.css", :type => "text/css", :media => "screen"}
		%link{:rel => "StyleSheet", :href => "css/ui-lightness/jquery-ui-1.10.2.custom.min.css", :type => "text/css", :media => "screen"}
		%script{:src =>"javascript/jquery-1.9.1.min.js"}
		%script{:src =>"javascript/jquery-ui-1.10.2.custom.min.js"}
		%script{:type => "text/javascript", :src => "javascript/awesome.js"}
		%title ERI: #{@page}
	%body
		%div.container
			Electronic Records Index
			%br
			%a{:href => "/"} home 
			%a{:href => "/about"} about
			%br
			%br
			%div{:style => "background-color:#eee"}
				%h1 #{@page}
			%div{:style => "background-color:#ddd"}
				search:
				%form{:action => "/results", :method => "post"}
					%input{:type => "text",  :name => "query", :size => 50, :style => "font-size: 18px;"}
					%select{:name => "qType"}
						%option{:value => "full text"} full text
						%option{:value => "names"} names
						%option{:value => "orgs"} organizations
						%option{:value => "locs"} locations
					%input{:type => "hidden", :name => "start", :value => 0}
					%input{:type => "submit"}
			%h2
				%a{:href => "/collection?cid=#{@result['response']['docs'][0]['cid']}"}
					#{@result['response']['docs'][0]['cName']}
				%br
				archival file:  #{@result['response']['docs'][0]['parentseries']} > #{@result['response']['docs'][0]['series']}
			%table{:style => "background-color:#ccc"}
				%thead
					%tr
						%th{:width => "33%"} personal names
						%th{:width => "1%", :style => "background-color:#fff"}
						%th{:width => "33%"} organizational names
						%th{:width => "1%", :style => "background-color:#fff"}
						%th{:width => "32%"} locations
				%tbody
					%tr
						%td
							%div{:id => "wordcloud",:style => "height:300px;width:300px"}
								-@names.each do |name|
									-if name[1] > 0 then
										%span{:'data-weight' => "#{name[1]}"}
											=name[0]
						%td{:style => "background-color:#fff"}
						%td
							%div{:id => "wordcloud2", :style => "height:300px;width:300px"}
								-@orgs.each do |org|
									-if org[1] > 0 then
										%span{:'data-weight' => "#{org[1]}"}
											=org[0]
						%td{:style => "background-color:#fff"}
						%td
							%div{:id => "wordcloud3", :style => "height:300px;width:300px"}
								-@locs.each do |loc|
									-if loc[1] > 0 then
										%span{:'data-weight' => "#{loc[1]}"}
											=loc[0]
			%table
				%thead
					%tr
						%th filename
						%th type
						%th date
						%th disk
				%tbody
					- @result['response']['docs'].each do |doc|
						%tr
							%td{:width => "25%"}
								%a{:href => "/file?id=#{doc['id']}"}="#{doc['accessname']}"
							%td{:width => "25%"}
								="#{doc['fType']}"
							%td{:width => "25%"}
								="#{doc['mDate']}"
							%td{:width => "25%"}
								%a{:href => "/disk?did=#{doc['did']}" }="#{doc['did']}"
			%script{:type => "text/javascript", :src => "javascript/test.js"}