!!!
%html{:lang => "en"}
	%head
		%meta{:charset => "utf-8"}/
		%title MSS ERI
		%meta{:content => "", :name => "description"}/
		%meta{:content => "", :name => "author"}/
		%link{:rel => "StyleSheet", :href => "css/ui-lightness/jquery-ui-1.10.2.custom.min.css", :type => "text/css", :media => "screen"}
		/ Le HTML5 shim, for IE6-8 support of HTML elements
		/[if lt IE 9]
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		/ Le styles
		
		%link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
		:css
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
			.sidebar-nav {
				padding: 9px 0;
			}
		%link{:href => "/css/bootstrap-responsive.css", :rel => "stylesheet"}/
		/ Le fav and touch icons
		%link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
		%link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
		%link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
		%link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
	%body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container-fluid
					%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					%a.brand{:href => "#"} Electronic Records Index
					.nav-collapse
						%ul.nav
							%li.active
								%a{:href => "/"}Home
							%li
								%a{:href => "/about"} About
							%li
								%a{:href => "/contact"} Contact
						%p.navbar-text.pull-right
							Logged in as
							%a{:href => "#"}#{session['user']}
							|
							%a{:href => "/logout"} logout
		.container-fluid
			.row-fluid
				.span1
				.span10
					.hero-unit
						%h3
							new search:
							%form{:action => "/results", :method => "post"}
								%input{:type => "text",  :name => "query", :size => 50, :style => "font-size: 18px;"}
								%select{:name => "qType"}
									%option{:value => "full text"} full text
									%option{:value => "names"} names
									%option{:value => "orgs"} organizations
									%option{:value => "locs"} locations
								%input{:type => "hidden", :name => "start", :value => 0}
								%input{:type => "submit"}
						%h1
							#{@page}
						
					%h2
						%a{:href => "/collection?cid=#{@result['response']['docs'][0]['cid']}"}
							#{@result['response']['docs'][0]['cName']}
						%br
						Disk: #{@did}
						%br
						%img{:src => "/images/#{@did}p001.JPG"}
					%table{:style => "background-color:#ccc"}
						%thead
							%tr
								%th{:width => "33%"} personal names
								%th{:width => "1%", :style => "background-color:#fff"}
								%th{:width => "33%"} organizational names
								%th{:width => "1%", :style => "background-color:#fff"}
								%th{:width => "32%"} locations
						%tbody
							%tr
								%td
									%div{:id => "wordcloud",:style => "height:300px;width:300px"}
										-@names.each do |name|
											-if name[1] > 0 then
												%span{:'data-weight' => "#{name[1]}"}
													=name[0]
								%td{:style => "background-color:#fff"}
								%td
									%div{:id => "wordcloud2", :style => "height:300px;width:300px"}
										-@orgs.each do |org|
											-if org[1] > 0 then
												%span{:'data-weight' => "#{org[1]}"}
													=org[0]
								%td{:style => "background-color:#fff"}
								%td
									%div{:id => "wordcloud3", :style => "height:300px;width:300px"}
										-@locs.each do |loc|
											-if loc[1] > 0 then
												%span{:'data-weight' => "#{loc[1]}"}
													=loc[0]
					%table{:width => "100%", :class => "table"}
						%thead
							%tr
								%th filename
								%th archival files
								%th type
								%th date

						%tbody
							- @result['response']['docs'].each do |doc|
								%tr
									%td{:width => "25%"}
										%a{:href => "/file?id=#{doc['id']}"}="#{doc['filename']}"
									%td{:width => "25%"}
										%a{:href => "/component?compId=#{doc['componentIdentifier']}"}= "#{doc['parentseries']} > #{doc['series']}"
									%td{:width => "25%"}
										="#{doc['fType']}"
									%td{:width => "25%"}
										=@tm.convert_time doc['mDate']

					
	%script{:src => "/javascript/jquery.js"}
	%script{:src => "/javascript/bootstrap-transition.js"}
	%script{:src => "/javascript/bootstrap-alert.js"}
	%script{:src => "/javascript/bootstrap-modal.js"}
	%script{:src => "/javascript/bootstrap-dropdown.js"}
	%script{:src => "/javascript/bootstrap-scrollspy.js"}
	%script{:src => "/javascript/bootstrap-tab.js"}
	%script{:src => "/javascript/bootstrap-tooltip.js"}
	%script{:src => "/javascript/bootstrap-popover.js"}
	%script{:src => "/javascript/bootstrap-button.js"}
	%script{:src => "/javascript/bootstrap-collapse.js"}
	%script{:src => "/javascript/bootstrap-carousel.js"}
	%script{:src => "/javascript/bootstrap-typeahead.js"}
	%script{:src =>"javascript/jquery-ui-1.10.2.custom.min.js"}
	%script{:src => "javascript/awesome.js"}
	%script{:src => "javascript/test.js"}