%html  
	%head
		%link{:rel => "StyleSheet", :href => "css/blueprint/screen.css", :type => "text/css", :media => "screen"}
		%link{:rel => "StyleSheet", :href => "css/ui-lightness/jquery-ui-1.10.2.custom.min.css", :type => "text/css", :media => "screen"}
		%script{:src =>"javascript/jquery-1.9.1.min.js"}
		%script{:src =>"javascript/jquery-ui-1.10.2.custom.min.js"}
		%title ERI: #{@page}
	%body
		%div.container
			Electronic Records Index
			%br
			%a{:href => "/"} home 
			%a{:href => "/about"} about
			%a{:href => settings.homepage} contact
			%br
			%br
			%div{:style => "background-color:#eee"}
				%h1 #{@page}
			%div{:style => "background-color:#ddd"}
				search:
				%form{:action => "/results", :method => "post"}
					%input{:type => "text",  :name => "query", :size => 50, :style => "font-size: 18px;"}
					%select{:name => "qType"}
						%option{:value => "full text"} full text
						%option{:value => "names"} names
						%option{:value => "orgs"} organizations
						%option{:value => "locs"} locations
					%input{:type => "hidden", :name => "start", :value => 0}
					%input{:type => "submit"}
			%h3
				="Query: #{@q}"
				%br
				="Query Type: #{@qt}"
			- count = @start + 1
			%p
				= "Number of records located: #{@result['response']['numFound']}"
				%br
				Displaying records #{@start + 1} through #{@start + 20}
			%table
				%tr
					%td{:width => "33.3%", :style => "background-color:#ddd"}
						-if @start >= 20 then
							%a{:href => "/results?query=#{@query}&qType=#{@qt}&start=#{@start - 20}"}
								<= previous twenty records
					%td{:width => "33.3%", :style => "background-color:#ddd"}
					%td{:width => "33.3%", :style => "background-color:#ddd;text-align:right"}
						-if (@start + 20) < @result['response']['numFound']
							%a{:href => "/results?query=#{@query}&qType=#{@qt}&start=#{@start + 20}"}
								next twenty records =>
			- @result['response']['docs'].each do |doc|
				%h4
					= count.to_s
					%a{:href => "/file?id=#{doc['id']}"}= doc['filename'] 
					-count += 1

				%table
					%thead
						%tr
							%th metadata
							%th names
							%th organizations
							%th locations
					%tbody
						%tr
							%td{:width => "25%", :style => "vertical-align:top"}
								-@fields.each do |field|
									-if doc[field[1]]
										%b 
											-if field[0] == "series" then
												archival file	
											-else
												=field[0]
										-if @links.include? field[0]
											-if field[0] == "component" then
												%a{:href => "/component?component=#{doc['series']}"}
													=doc['parentseries']
													=" > "
													=doc['series']												
											-elsif field[0] == "filename" then
												%a{:href => "/file?id=#{doc['id']}"}
													#{doc['filename']}
											-else
												%a{:href => "/#{field[0]}?#{@links[field[0]]}=#{doc[@links[field[0]]]}"}
													#{doc[field[1]]}
										-else
											#{doc[field[1]]}
										%br
							-ents = {"names" => "names", "orgs" => "organizations", "locs" => "locations"}
							-ents.each do |ent|
								%td{:width => "25%", :style => "vertical-align:top"}
									-if doc[ent[0]] then
										-set = Array.new doc[ent[0]]
										-(0..10).each do |i|
											%a{:href => "/results?qType=#{ent[0]}&query=%22#{set[i]}%22"}
												=set[i]
											%br
									-if doc[ent[0]] && doc[ent[0]].size > 10 then
										%a{:href => "/file?id=#{doc['id']}"}
											%div{:style => "color:#FF0000"}
												See all entities
			%table
				%tr
					%td{:width => "33.3%", :style => "background-color:#ddd"}
						-if @start >= 20 then
							%a{:href => "/results?query=#{@query}&qType=#{@qt}&start=#{@start - 20}"}
								<= previous twenty records
					%td{:width => "33.3%", :style => "background-color:#ddd"}
					%td{:width => "33.3%", :style => "background-color:#ddd;text-align:right"}
						-if (@start + 20) < @result['response']['numFound']
							%a{:href => "/results?query=#{@query}&qType=#{@qt}&start=#{@start + 20}"}
								next twenty records =>